<div class="home-banner">
  <%= image_tag "homepage.jpg", alt: "Le Wagon", width: 800 %>
  <h1>Cocktail Bonanza</h1>
</div>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li> <%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
        <%= link_to "🗑",
                  cocktail_path(cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to 'Add a new cocktail', new_cocktail_path(@cocktail) %>
